/* BREAK POINT */

/* PC */
@media (min-width: 64em) {
    
}

/* Tablet and Mobile */
@media (max-width: 63.9375em) {
    #nav .subnav a {
        padding: 1  px 12px;
    }

    .btn {
        padding: 16px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-content .contact-info {
        line-height: 2;
    }

    .contact-submit-btn {
        font-size: 16px;
    }

    .socials-list {
        font-size: 32px;
    }

    .socials-list a {
        margin: 0px 8px;
    }

    #footer .copyright a {
        padding: 12px 0px;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-col-full,
    .s-full-width {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-button {
        display: none;
    }

    #header .mobile-menu-button {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 1px 43px;
    }

    #nav > li:first-child {
        display: inline-block;
    }
    
    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block;
    }

    #content .member-img {
        width: 60%;
    }

    #slider .text-content {
        display: none;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-form {
        margin-top: 32px;
    }
}